<div class="text-right">
    <button  [routerLink]="['/doctor']" class="btn btn-danger">Add doctors</button>
     </div>

<h1><b>Doctors</b></h1>
 
                
        
             <!--  <div class="text-right">
        <select>
          <option>Hospital</option>
          <option> City</option>
          <option>Special</option>
          <option>Doctor</option>
        
        </select>
      </div>--> 
      
      
<table class="table table-light mt-3" >

    <thead class="thead-light">
        <tr>

    <th>Image</th>
    <th>Name</th>
    <th>Special</th>
    <th>hospital</th>
    <th>Action</th>

</tr>

    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctornew; let i = index">
            <td> <img [src]="doctor.image" height="100px" width="100px"></td>
            <td > {{doctor.name }}</td>
           
            <td >{{doctor.spcl}}</td>
            <td >{{doctor.hosp}}</td>
            


<td>
    <button  [routerLink]="['/doc-edit',doctor.id]" class="btn btn-primary">Edit</button> &nbsp;
    <button class="btn btn-primary" (click)="delete(doctor.id)">Delete</button>&nbsp;
    
</td>
</tr>
        </tbody>
    </table>

