<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">HIDOC</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashbard
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/city']">
                <mat-icon class="sidenav-icon">build</mat-icon> city
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/city-List']">
                <mat-icon class="sidenav-icon">build</mat-icon> city-List
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/city-edit']">
                <mat-icon class="sidenav-icon">build</mat-icon> city-Add
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
                <mat-icon class="sidenav-icon">people</mat-icon> Screen2
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/special']">
                <mat-icon class="sidenav-icon">people</mat-icon> specialities
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/special-List']">
                <mat-icon class="sidenav-icon">people</mat-icon> specialities-List
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/Hospital']">
                <mat-icon class="sidenav-icon">people</mat-icon> Hospital
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/hospital-List']">
                <mat-icon class="sidenav-icon">people</mat-icon> Hospital-List
            </a>

            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/doctor']">
                <mat-icon class="sidenav-icon">people</mat-icon> Doctors
            </a>
            
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/viewdoc']">
                <mat-icon class="sidenav-icon">people</mat-icon> Doctors-List
            </a>
            
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/policy-list']">
                <mat-icon class="sidenav-icon">rate_review</mat-icon> SMS
            </a>

        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>