<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <h3><b>Add City</b></h3><br>
            <label for="name">City Name</label>
            <input 
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="tutorial.name"
                name="name"
            />

        </div>
        <button (click)="saveTutorial()" class="btn btn-primary">Submit</button>
    </div>
    
     
    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button  [routerLink]="['/city-list']" class="btn btn-primary" (click)="newTutorial()">Add</button>
    </div>
</div>



 

