<div class="login-page">
    <div class="content">
         <form class="login-form"  (ngSubmit)="login()"  >
            <div class="text-center">

                <h2 class="app-name">HiDoc</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input type="email" name="login"  matInput placeholder="Email" [(ngModel)]="email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="PassWord" name="login"  placeholder="Password" [(ngModel)]="password" >
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>

            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary"  type="submit" class="w-100"  >Login</button>
                </div>
            </div>
             <p *ngIf="errorMessage.length > 0 " class="text-danger">
                 {{errorMessage }}
             </p>
             <p *ngIf="error.message.length > 0 " class="text-danger">
                 {{error.message }}
             </p>
        </form>

    </div>
</div>
