



<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <h3><b>Specialities</b></h3><br>
            <input type="file"
            id="image"
            class="form-control"
            required
            [(ngModel)]="special.image"
            (change)="upload($event)" accept=".png,.jpg"
            name="fb"
        />
            
            <br><br>
            
            <label for="name">Specialities Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="special.name"
                name="name"
            />

        </div>
        <button (click)="saveTutorial()" class="btn btn-primary">Submit</button>
    </div>
    
     
    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-primary" (click)="newTutorial()">Add</button>
    </div>
</div>




