<table>
<tr>
    <td>
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
            <div fxFlex>
                <app-stat [bgClass]="'danger'" [icon]="'person'" count="{{docters}}" [label]="'Doctors'"></app-stat>
            </div>
        </div>
    </td> &nbsp;
    <td>
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
            <div fxFlex>
                <app-stat [bgClass]="'success'" [icon]="'local_hospital'" count="{{hospital}}" [label]="'Hospitals'"></app-stat>
            </div>
        </div>

    </td>
</tr>



<tr>
    <td>
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
            <div fxFlex>
                  <app-stat [bgClass]="'info'" [icon]="'folder_special'" count="{{ specialsaaaaa }}" [label]="'Specialties'"></app-stat>
            </div>
        </div>
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <td>
        <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
            <div fxFlex>
                <app-stat [bgClass]="'warn'" [icon]="'location_city'" count="{{ citty }}" [label]="'City'"></app-stat>
            </div>
        </div>
    </td>
</tr>
 

    
    



</table>
    <!-- <div fxFlex> 
       
        <app-stat [bgClass]="'warn'" [icon]="'local_pharmacy'" [count]="0" [label]="'Notification'"></app-stat>
    </div> -->
    
   

   


 


