table {
    width: 50%;
}
.mat-card {
    text-align: center;
    img {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
    margin-bottom: 20px;
}
