<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
            <h3><b>Add Hospital</b></h3>

            <!-- <input type="file" /><br><br> -->
            
            <label for="name">Hospital Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="hospital.name"
                name="name"
            />
            <label></label>
          

            <label for="name">Address</label>
            <input
                type="text"
                class="form-control"
                id="add"
                required
                [(ngModel)]="hospital.add"
                name="add"
            />
            
            <label for="name">Phone NO</label>
            <input
                type="text"
                class="form-control"
                id="phn"
                required
                [(ngModel)]="hospital.phn"
                name="phn"
            />
            <label for="name">City</label>
            <select
                class="form-control"
                id="ci"
                required
                [(ngModel)]="hospital.ci"na
                name="ci"
            >
        <option>Select City</option>
         <option  *ngFor="let tutorial of tutorials; let i = index">{{ tutorial.name }}</option
                    ></select>  
            
        
        </div>

        <button (click)="saveTutorial()" class="btn btn-primary">Submit</button>
    </div>
    
    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-primary" (click)="newTutorial()">Add</button>
    </div>
</div>




