@import '~@angular/material/theming';

:host ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
    font-size: 40px;
}

.mat-card {
    color: #fff;
    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {
        font-size: 40px !important;
    }
    .mat-card-subtitle {
        color: #fff;
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }
}

.mat-card.danger {
    background: linear-gradient(60deg, #1d95b9, #053c4d);
    width : 300px;
}

.mat-card.warn {
    background: linear-gradient(60deg, #8d7973, #2c2624);
    width : 300px;
}

.mat-card.success {
    background: linear-gradient(60deg, #75d17a, #0f3010);
    width : 300px;
}

.mat-card.info {
    background: linear-gradient(60deg, #e6d542, #774f03);
    width : 300px;
}
