
<div class="submit-form">
    <div *ngIf="!submitted">
        <div class="form-group">
           
            <h3><b>Add doctor</b></h3>
            <label for="name">Doctor ID</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="doctor.name"
                name="name"
            />
            <label for="name">Doctor Name</label>
            <input
                type="text"
                class="form-control"
                id="dr"
                required
                [(ngModel)]="doctor.dr"
                name="dr"
            /><br>
            
            <input type="file"
            id="image"
            class="form-control"
            required
            [(ngModel)]="doctor.image"
            (change)="upload($event)" accept=".png,.jpg"
            name="fb"
        />
            <label for="name">Specialities</label>
            <select
                class="form-control"
                id="spcl"
                required
                [(ngModel)]="doctor.spcl"
                name="spcl"
            > <option>Select Special</option>
            <option  *ngFor="let special of specials; let i = index">{{ special.name }}</option
                       ></select>
           <label for="name">Hospital</label>            
            <select

            class="form-control"
            id="hosp"
            required
            [(ngModel)]="doctor.hosp"
            name="hosp"
            >  <option>Select Hospital</option>
            <option  *ngFor="let hospital of hospitalnew; let i = index">{{ hospital.name }}</option
                       ></select>  

            <label for="name">City</label>
            <select
                class="form-control"
                id="cit"
                required
                [(ngModel)]="doctor.cit"
                name="cit"
            >  <option>Select City</option>
            <option  *ngFor="let tutorial of tutorials; let i = index">{{ tutorial.name }}</option
                       ></select>  
        </div>
        

        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Days</th>
                    <th></th>
                    <th>Time</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MonDay</td>
                    <td><input type="checkbox" id="ch1" required [(ngModel)]="doctor.ch1" name="ch1" ></td>
                    <td><input type="text"  id="mon"
                        required
                        [(ngModel)]="doctor.mon"
                        name="mon"></td>
                </tr>
                <tr>
                    <td>TuesDay</td>
                    <td><input type="checkbox" id="ch2" required [(ngModel)]="doctor.ch2"></td>
                    <td><input type="text"  id="tue"
                        required
                        [(ngModel)]="doctor.tue"
                        name="tue"></td>
                </tr>
                <tr>
                    <td>WednesDay</td>
                    <td><input type="checkbox" id="ch3" required [(ngModel)]="doctor.ch3" name="ch3"></td>
                    <td><input type="text"  id="wed"
                        required
                        [(ngModel)]="doctor.wed"
                        name="wed"></td>
                </tr>
                <tr>
                    <td>ThursDay</td>
                    <td><input type="checkbox" id="ch4" required [(ngModel)]="doctor.ch4" name="ch4"></td>
                    <td><input type="text"  id="thu"
                        required
                        [(ngModel)]="doctor.thu"
                        name="thu"></td>
                </tr>
                <tr>
                    <td>FriDay</td>
                    <td><input type="checkbox" id="ch5" required [(ngModel)]="doctor.ch5" name="ch5"></td>
                    <td><input type="text"  id="fri"
                        required
                        [(ngModel)]="doctor.fri"
                        name="fri"></td>
                </tr><tr>
                    <td>SaturDay</td>
                    <td><input type="checkbox" id="ch6" required [(ngModel)]="doctor.ch6" name="ch6"></td>
                    <td><input type="text"  id="sat"
                        required
                        [(ngModel)]="doctor.sat"
                        name="sat"></td>
                </tr><tr>
                    <td>SunDay</td>
                    <td><input type="checkbox" id="ch7" required [(ngModel)]="doctor.ch7" name="ch7"></td>
                    <td><input type="text"  id="sun"
                        required
                        [(ngModel)]="doctor.sun"
                        name="sun"></td>
                </tr>

                </tbody>
            </table>

        </div>
        <label>About/Description</label>
   <textarea rows="5" class="form-control"  id="about"
   required
   [(ngModel)]="doctor.about"

   name="about" ></textarea>

        <button (click)="saveTutorial()" class="btn btn-primary">Submit</button>
    </div>
    
    <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-primary" (click)="newTutorial()">Add</button>
    </div>
    </div>
    


    
    

