<div id="sidebar">
  <mat-nav-list>
    
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
          <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/viewdoc']">
          <mat-icon class="sidenav-icon">person</mat-icon> {{ 'Doctors' | translate }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/city-List']">
          <mat-icon class="sidenav-icon">location_city</mat-icon> {{ 'City' | translate }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/special-List']">
          <mat-icon class="sidenav-icon">folder_special</mat-icon> {{ 'Specialities' | translate }}
      </a>

      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/Hospital-List']">
          <mat-icon class="sidenav-icon">Hospital</mat-icon> {{ 'Hospital' | translate }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/policy-list']">
          <mat-icon class="sidenav-icon">rate_review</mat-icon> {{ 'SMS' | translate }}
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
          <mat-icon class="sidenav-icon">notifications</mat-icon> {{ 'Notification' | translate }}
      </a>

 

  </mat-nav-list>
</div>